<%- include('../partials/header') %>
<div class="profile-page">
</div>
<div>
  <h3><%= profile.name %>'s Friends</h3>
  <ul class="homepage__all">
    <% friends.forEach(element => { %>
    <li class="homepage__all--user">
      <img src="<%= element.avatarUrl %>" />
    </li>
    <% }) %>
  </ul>
</div>
<%- include('../partials/footer') %>